pdb
obsolete
.env
.venv
env
casp-predictions
casp-results
matches.json
*.csv
csvs
casp-xray
cache
results*
tests
pkls
__pycache__/
search
ml_data
ml_samples
tensorboard
alphafold_predictions
casp_cache
casp_da